li {display: inline; 
    font-weight: 900;
    margin-right: 3% ;
    padding: 0;
}
.tel {
    display: inline;
    font-family: Courier;
    font-weight: 200;
    font-size: 175%;
    margin: 2% 1% 0% 7%;
    padding: 0;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    margin: 3% 1% 1% 7%;
    margin-right: 1%;
}
.slogan {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 800%;
    margin: 5% 1% 0% 7%;
    line-height: 90%;
}
.slogan2 {
    font-family: Courier New, monospace;
    font-size: 200%;
    margin: 5% 1% 0% 7%;
    line-height: 0%;
}

.pizza_main {
    align-content: right;
    height: fit-content;
    width: 40%;
    background-attachment: fixed;
    align-content: last baseline;
}