.ul_navugation {
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-end;

}
#li_hits {
    color: rgb(247, 0, 0);
}
.li_navigation {
    display: inline-flex;
    margin: 0 4% 0 0;
}
.tel {
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 30px;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 3% 1% 1% 7%;
    margin-right: 1%;
    font-weight: 900;
}
.slogan {
    display: inline-flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: calc(40px + 120 * (100vw / 1920));
    margin: 5% 1% 0% 7%;
    line-height: 90%;
}
.slogan2 {
    display: inline-flex;
    font-family: Courier New, monospace;
    font-size: 40px;
    margin: 5% 1% 0% 7%;
    line-height: 0%;
}

.pizza_main {
    display: block;
    float: right;
    margin: 5% 10%;
    height: fit-content;
    min-width: 20%;
    max-width: 40%;
    background-attachment: fixed;
}
.benefits_container { /*OK */
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    flex: 2 2 2;
    flex-direction: row;
    text-align:justify;
    border: medium dashed rgb(255, 0, 0);
}
.benefits_text { /*OK */
    display: inline-flex;
    flex-wrap: nowrap;
    height: 80px;
    width: 400px;
    border: medium dashed rgb(0, 238, 255);
}
.advantages { /*OK */
    display: inline-flex;
    flex: 2 2 2;
    align-items: left;
    justify-content: space-between;
    justify-content: left;
    flex-wrap: wrap;
    width: 18%;
    margin: 5% 1% 5% 5%;
    font-size: 125%;
    white-space: nowrap;
    border: medium dashed green;
}
.image_advantages_block {
    display: inline-flex;
    position: relative;
    flex: 2 2 2;
    width: 100%;
    background-color: red;
}
.image_advantages { /* NOT */
    display: inline-flex;
    flex: 2 2 2;
    width: 20%;
    
}
.button_gift {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gift {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(252, 1, 1);
    color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 125%;
    margin: 10% 1% 5% 5%;
    border: 5%;
    padding: 1% 2%;
    text-align: center;
}
.gift:hover {
    font-size: 145%;
}
.div_hits {
    display: inline-block;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 7, 7);
    font-size: 250%;
    margin: 5% 0% 2.5% 5%;
}
.div_suggestion {
    display: block;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(247, 7, 7);
    font-size: 150%;
    margin: 0% 0% 5% 5%;
}
.container { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    margin: 5% 0 0% 5%;
    align-items:flex-start;
    position: relative;
    flex: 1 1 auto;
}
.grocery_card {
    display: block;
    width: 27%;
    margin: 0 5% 5% 0;
    
}
.name_grocery {
    display: block;
    margin: 5% 0;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.description_grocery {
    display: block;    
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal ;
    margin: 0 0 5% 0;
    height: 15vh;
}
.price {
    display: block;
    font-size: 175%;
    width: 200px;
    margin: 5% 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
.button_counter_product {
    margin: 5% 5% 5% 0;
    height: 15%;
}
#buttonCountPlus {
    display: inline-block;
    background-color: rgb(231, 229, 229);
    border:none;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 150%;
        
}
#buttonCountPlus[value="+"] {
    filter: blur(0.4px);
}
#buttonCountPlus:hover {
    font-weight: 900;
    filter: blur(0);
}
#buttonCountNumber {
    display: inline-block;
    color: rgb(255, 0, 0);
    font-size: 150%;
    text-align: center;
    margin: 2.5%;
}
#buttonCountMinus {
    display: inline-block;
    background-color: rgb(231, 229, 229);
    border:none;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 150%;
    font-weight: 900;
    
}
#buttonCountMinus[value="–"] {
    filter: blur(0.4px);
}
#buttonCountMinus:hover {
    font-weight: 900;
    filter: blur(0);
}
.img_grocery {
    display: block;
    width: 27vw;
    height: 60vh;
    margin-right: auto;
    background-size: cover;
    background-position: center;
}
#img_caramel_ponycard {
    background-color: antiquewhite;
    background-image: url('../images/img_caramel_pony.png');
    /*transition: opacity 0 0.5s opacity 1; */

    
}
#img_caramel_ponycard:hover {
    background-color: antiquewhite;
    background-image: url('../images/img_caramel_pony2.jpg');
    /*transition-property: all;
    transition-duration: 100ms;
    opacity: 0;
    transition: opacity .5s;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;*/ 
    animation: fadeIn 0.5s; /* Animation and keyframes.*/
}
@keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; }
    100% { opacity: 1; }
  }
#img_standart_rolls {
    background-color: antiquewhite;
    background-image: url('../images/img_standart_rolls.jpg');
}
#img_standart_rolls:hover {
    background-color: antiquewhite;
    background-image: url('../images/img_standart_rolls2.png');
    animation: fadeIn 0.5s;
}
#img_pizza_margarita {
    background-color: antiquewhite;
    background-image: url('../images/img_pizza_margarita2.png');
}
#img_pizza_margarita:hover {
    background-color: antiquewhite;
    background-image: url('../images/img_pizza_margarita.jpg');
    animation: fadeIn 0.5s;
}
.add_product {
    display: inline-block;
    background-color: rgb(252, 1, 1);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 20px;
    font-size: 125%;
    border: 5%;
    padding: 1% 2%;
}

.minus, .number, .plus {
    display: inline;
    margin: 5%;
    font-size: 150%;
  }
@media (max-width: 770px) {
    .slogan2 {
        font-size: 20px;
    }
    .advantages {
        font-size: 22px;
    }
}