header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 3% 1% 1% 7%;
    font-weight: 900;
    
}
.ul_navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

}
#li_hits {
    color: rgb(247, 0, 0);
}
.li_navigation {
    display: inline-flex;
    margin: 0 4% 0 0;

}

.tel {
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 30px;
    width: 100%;
    margin: 0;

}
.slogan {
    display: inline-flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: calc(40px + 120 * (100vw / 1920));
    margin: 5% 1% 0% 7%;
    line-height: 90%;
}
.slogan2 {
    display: inline-flex;
    font-family: Courier New, monospace;
    font-size: 40px;
    margin: 5% 1% 0% 7%;
    line-height: 0%;
}

.pizza_main {
    display: block;
    float: right;
    margin: 5% 10%;
    height: fit-content;
    min-width: 20%;
    max-width: 40%;
    background-attachment: fixed;
}
.benefits_container { /*OK */
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    text-align:justify;

}
.benefits_text { /*OK */
    display: inline-flex;
    flex-wrap: nowrap;
    height: 80px;
    width: 400px;
    margin-top: 5%;

}
.advantages { /*OK */
    display: inline-flex;
    width: 20%;
    margin: 5% 1% 5% 5%;
    font-size: 125%;
    text-align: center;
}
.image_advantages { /* NOT */
    display: inline-flex;
    background-size: contain;
    width: 5vw;
    margin-right: 5%;
}
.button_gift {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gift {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(252, 1, 1);
    color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 125%;
    margin: 10% 1% 5% 5%;
    border: 5%;
    padding: 1% 2%;
    text-align: center;
}
.gift:hover {
    font-size: 145%;
}
.div_hits {
    display: inline-block;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 7, 7);
    font-size: 250%;
    margin: 5% 0% 2.5% 5%;
}
.div_name_product {
    display: flex;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    margin: 5% 0% 2.5% 5%;
}
.div_suggestion,#div_suggestion_hits {
    display: block;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    margin: 0% 0% 5% 5%;
}
#div_suggestion_hits {
    color: rgb(247, 7, 7);
}
#name_promotion,#suggestion_promotion {
    color: rgb(214, 9, 95);
}
.container_grocery { 
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 95%;
    margin: 5% 0 0% 5%;
    align-items:flex-start;
    position: relative;
    flex: 1 1 auto;
}
.grocery_card {
    display: block;
    width: 27%;
    margin: 0 5% 5% 0;
}
.name_grocery {
    display: block;
    margin: 5% 0;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.img_grocery {
    display: block;
    width: 27vw;
    height: 60vh;
    margin-right: auto;
    background-size: cover;
    background-position: center;
}
#img_caramel_ponycard {
    background-color: antiquewhite;
    background-image: url('../images/img_caramel_pony.png');
}
#img_caramel_ponycard:hover {
    background-color: antiquewhite;
    background-image: url('../images/img_caramel_pony2.jpg');
    /*transition-property: all;
    transition-duration: 100ms;
    opacity: 0;
    transition: opacity .5s;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;*/ 
    animation: fadeIn 0.5s; /* Animation and keyframes.*/
}
#img_boloneze_spagetti {
    background-color: antiquewhite;
    background-image: url('../images/boloneze_spagetti.jpg');
}
#img_boloneze_spagetti:hover {
    background-color: antiquewhite;
    background-image: url('../images/boloneze_spagetti2.png');
    animation: fadeIn 0.5s; 
}
#img_boloneze_penne {
    background-color: antiquewhite;
    background-image: url('../images/boloneze_penni.jpg');
}
#img_boloneze_penne:hover {
    background-color: antiquewhite;
    background-image: url('../images/boloneze_penni2.png');
    animation: fadeIn 0.5s; 
}
#img_pizza_pepperoni {
    background-color: antiquewhite;
    background-image: url('../images/pizza_pepperoni.png');
}
#img_pizza_pepperoni:hover {
    background-color: antiquewhite;
    background-image: url('../images/pizza_pepperoni2.jpg');
    animation: fadeIn 0.5s; 
}
#img_rolls_ananas {
    background-color: antiquewhite;
    background-image: url('../images/rolls_ananas.png');
}
#img_rolls_ananas:hover {
    background-color: antiquewhite;
    background-image: url('../images/rolls_ananas2.jpg');
    animation: fadeIn 0.5s; 
}
#img_rolls_sempai {
    background-color: antiquewhite;
    background-image: url('../images/rolls_sempai.png');
}
#img_rolls_sempai:hover {
    background-color: antiquewhite;
    background-image: url('../images/rolls_sempai2.jpg');
    animation: fadeIn 0.5s; 
}
#img_sea_buckthorn_punch {
    background-color: antiquewhite;
    background-image: url('../images/sea\ buckthorn\ punch.png');
}
#img_sea_buckthorn_punch:hover {
    background-color: antiquewhite;
    background-image: url('../images/sea\ buckthorn\ punch2.jpg');
    animation: fadeIn 0.5s; 
}
#img_cranberry_madness {
    background-color: antiquewhite;
    background-image: url('../images/cranberry\ madness.png');
}
#img_cranberry_madness:hover {
    background-color: antiquewhite;
    background-image: url('../images/cranberry\ madness2.jpg');
    animation: fadeIn 0.5s; 
}
#img_standart_rolls {
    background-color: antiquewhite;
    background-image: url('../images/img_standart_rolls.jpg');
}
#img_standart_rolls:hover {
    background-color: antiquewhite;
    background-image: url('../images/img_standart_rolls2.png');
    animation: fadeIn 0.5s;
}
#img_pizza_margarita {
    background-color: antiquewhite;
    background-image: url('../images/img_pizza_margarita2.png');
}
#img_pizza_margarita:hover {
    background-color: antiquewhite;
    background-image: url('../images/img_pizza_margarita.jpg');
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; }
    100% { opacity: 1; }
  }
.add_product {
    display: inline-block;
    background-color: rgb(252, 1, 1);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 20px;
    font-size: 125%;
    border: 5%;
    padding: 1% 2%;
}

.description_grocery {
    display: block;    
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal ;
    margin: 0 0 5% 0;
    height: 15vh;
}
.price {
    display: block;
    font-size: 175%;
    width: 200px;
    margin: 5% 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
.button_counter_product {
    margin: 5% 5% 5% 0;
    height: 15%;
}
#buttonCountPlus {
    display: inline-block;
    background-color: rgb(231, 229, 229);
    border:none;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 150%;
        
}
#buttonCountPlus[value="+"] {
    filter: blur(0.4px);
}
#buttonCountPlus:hover {
    font-weight: 900;
    filter: blur(0);
}
#buttonCountNumber {
    display: inline-block;
    color: rgb(255, 0, 0);
    font-size: 150%;
    text-align: center;
    margin: 2.5%;
}
#buttonCountMinus {
    display: inline-block;
    background-color: rgb(231, 229, 229);
    border:none;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 150%;
    font-weight: 900;
    
}
#buttonCountMinus[value="–"] {
    filter: blur(0.4px);
}
#buttonCountMinus:hover {
    font-weight: 900;
    filter: blur(0);
}
.minus, .number, .plus {
    display: inline;
    margin: 5%;
    font-size: 150%;
  }
@media (max-width: 770px) {
    .ul_navigation {
        flex-flow: row wrap;
    }
    .slogan2 {
        font-size: 20px;
    }
    .advantages {
        font-size: 22px;
    }
    .image_advantages {
        width: 40px;
        height: 40px;
    }
    .benefits_text {
        font-size: 20px;
    }
    .benefits_container {
        flex-direction: column;
    }
    .image_advantages {
        margin: 15%;
    }
    .container_grocery {
        font-size: 20px;
        flex-direction: column;
    }
    .grocery_card,.img_grocery {
        width: 95%;
    }
    .pizza_main {
        display: flex;
        flex-flow: column wrap;
        background-size: cover;
        max-width: 80%;
        height: auto;
        margin-right: 10%;

    }
    .div_name_product,.div_hits {
        font-size: 30px;
    }
    .div_suggestion,#div_suggestion_hits {
        font-size: 20px;
    }
    .description_grocery {
        font-size: 20px;
    }
    .name_grocery {
        font-size: 25px;
    }
}